.TRACK_home {
    position: relative;
}

.TRACK_home {
    position: relative;
}

.TRACK_home .img {
    position: relative;
    max-height: 630px;
    width: 100%;
    height: 100%;
}

.TRACK_home .img img {
    max-height: 630px;
    width: 100%;
    min-height: 300px;
    height: 100%;
}

.TRACK_home .text {
    top: 50%;
    color: #fff;
    left: 10%;
    position: absolute;
}

.TRACK_home .text h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 1%;
}

.TRACK_home .text h1 p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 13px;
}

.TRACK_home .text p span a {
    text-decoration: none;
    color: #fff;
}

/* ---------------------------track_main------------------- */
.track_main{
    position: relative;
    padding: 2rem 0;
}
.track_main .text {
    padding: 1rem 0;
    text-align: center;
}
.track_main .text h1{
    font-size: 2.3rem ;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
    letter-spacing: 1%;
}
.track_main .text p{
    font-size: 1.3rem ;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1%;
}

.track_main form{
    padding: 1rem ;
}
.track_main form .form-group{ 
    padding: 1rem ;
    margin: 1rem 0;
}
.track_main form .form-control{ 
  padding: 1rem;
  border: 1px solid #000000;
  border-radius: 1px;
}
.track_main form .form-cont{ 
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 1px;
    width: 100%;
    position: relative;
}
.track_main form .form-cont::after{ 
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    bottom: 0;
    font-size: 25px;
    border: 1px solid #565656;
    background: #0e7b53;
    color: #fff;
    z-index: -1;
    padding: 11px 15px;
    pointer-events: none;
}
.track_main form .form-control::placeholder{ 
  color: #000000;
}
.track_main form .form-control:focus{ 
  outline: 0;
  box-shadow: none;

}
.track_main form .form-group button{ 
    width: 100%;
    border: none;
    background-color: #07B100;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 0.8rem 1rem;
    border: 2px solid transparent;
    transition: all .5s;
}
.track_main form .form-group button:hover{ 
   border: 2px solid #07B100;
   background-color: transparent;
   color: #07B100;
}